body {
  background-image:url('https://c.tenor.com/dRAJFtYL3T4AAAAS/black-background-cool.gif');
  background-size:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
  width:100%;
}
p{
color: #013220;
}

.fade-in-text {
  font-family : Arial;
  font-size : 20px;
  animation: fadeIn 5s;
}
