body {
  background-image:url('https://tenor.com/view/black-background-cool-gif-24520803');
  background-size:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
  width:100%;
}
p{
color: #00FF00; 
font-family : Impact; 
font-size : large;
}
