body {
  background-color: #28282B;
}
p{
color: white;
font-size: 25px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-text {
  font-family : Impact;
  animation : fadeIn 5s;
}

.button {
position:center;
top:50%;
background-color: #000000;
color: white;
border: none;
border-radius: 10px;
text-align: center;
font-family: Impact;
font-size: 30px;
height:40px;
width: 1000px;
transition-duration: 0.1s;
animation: fadeIn 5s;
}

.button:hover {
  background-color: #333333;
  color: grey;
}

.circular_image {
  border-radius : 50px;
  display: inline-block;
}

.text {
  display: inline-block;
  font-size: 40px;
  font-family: Impact;
  color: white;
}
