body {
  background-color: #28282B;
}
p{
color: white;
font-size: 25px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-text {
  font-family : Impact;
  animation : fadeIn 5s;
}

.button {
position:center;
top:50%;
background-color: #000000;
color: white;
border: none;
border-radius: 10px;
text-align: center;
font-family: Impact;
font-size: 35px;
height:120px;
width: 300px;
transition-duration: 0.1s;
animation: fadeIn 5s;
}

.button:hover {
  background-color: #333333;
  color: grey;
}
