body {
  background-image:url('https://c.tenor.com/dRAJFtYL3T4AAAAS/black-background-cool.gif');
  background-size:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
  width:100%;
}
p{
color: #013220;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-text {
  font-family : Arial;
  font-size : 20px;
  animation : fadeIn 5s;
}

.button {
position:center;
top:50%;
background-color: #00FF00;
color: grey;
border: none;
border-radius: 10px;
text-align: center;
font-size: 40px;
transition-duration: 0.4s;
height: 50;
width: 50;
}

.button:hover {
  background-color: #013220;
  color: white;
}
