body {
  background-color: #28282B;
  position: absolute;
  display: block;
}
p{
font-family: Impact;
color: grey;
font-size: 15px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-text {
  font-family : Impact;
  animation : fadeIn 2s;
}

.button {
right:100px;
background-color: #5865F2;
color: white;
border: none;
border-radius: 5px;
text-align: center;
font-family: Impact;
font-size: 14px;
height: 40px;
width: 300px;
transition-duration: 0.2s;
animation: fadeIn 2s;
}

.button:hover {
  background-color: #B7B0F7;
  color: white;
}

.circular_image {
  display: inline-block;
  animation: fadeIn 2s;
  vertical-align: middle;
}

.text {
  display: inline-block;
  font-size: 60px;
  font-family: Impact;
  color: white;
  vertical-align: middle;
  animation: fadeIn 2s;
}

h1 {
font-size: 20px;
font-family: Impact;
color: white;
}
