body {
  background-color: #28282B;
  position: absolute;
  display: block;
}
p{
font-family: "Arial";
color: grey;
font-size: 17px;
display: inline-block;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-text {
  font-family : "Arial";
  animation : fadeIn 2s;
  display: inline-block;
}

.button {
background-color: #5865F2;
color: white;
border: none;
border-radius: 5px;
text-align: center;
font-family: "Arial";
font-size: 20px;
height: 40px;
width: 980px;
transition-duration: 0.2s;
animation: fadeIn 2s;
display: inline-block;
}

.button:hover {
  background-color: #B7B0F7;
  color: white;
}

.text {
  font-size: 15px;
  font-family: "Arial";
  color: white;
}

.border {
border-width: 3px;
border-style: solid;
border-radius: 10px;
border-color: #2E2E2E;
background-color: #171717;
padding: 2px 2px;
display: block;
animation: fadeIn 2s;
text-align: center;
}

h1 {
font-size: 30px;
font-family: "Arial";
color: white;
display: block;
animation: fadeIn 2s;
}

.border2 {
border-width: 3px;
border-style: solid;
border-radius: 10px;
border-color: #555555;
background-color: #333333;
padding: 2px 2px;
display: block;
animation: fadeIn 2s;
text-align: center;
}

h3 {
font-size: 30px;
font-family: "Arial";
color: white;
animation: fadeIn 2s;
}

.border3 {
border-width: 3px;
border-style: solid;
border-radius: 10px;
border-color: #555555;
background-color: #333333;
padding: 2px 2px;
display: block;
animation: fadeIn 2s;
text-align: center;
}

h4 {
font-size: 35px;
font-family: "Arial";
color: white;
animation: fadeIn 2s;
display: inline-block;
}
